/* body{
    background-color: #8db7e2;
    font-family: 'Roboto', sans-serif;
} */

body{
    height: 100%;
    background-color: rgb(102, 238, 207); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(113, 213, 247), rgb(51, 215, 163));
}

/* .registerForm{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
} */

/* ------------------ HOME ------------------  */
.home_img{
    width: 10%;
    height: 10%;
    display:flex;
    justify-content: center;

}

.grocer{
    height: 30%;
    width: 30%;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 20px solid black;
    border-radius: 20px;

}

/* .home_test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */


/* ------------------ NAVIGATION BAR------------------ */

.navbar{
    background-color: #74cfbf;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover{
    color: black;
}

/* ------------------ REGISTRATION PAGE ------------------  */
.registerForm{
    margin: 0 auto;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

/* ---------------LOGIN PAGE ------------------ */
.loginForm{
    margin: 0 auto;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}