{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "style.css" %}>
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'login.html' %}">Return Home</a>
    </nav>
    <main>
        <h1 class="home">Home</h1>
        <div class="home_test">
            <h1>Grosser Grocer</h1>
            <img src={% static "grosser_grocer.png" %} alt="home" class="grocer">
            {% comment %} <img src={% static "thumbsup_expiration.png" %} alt="home" class="home_img"> {% endcomment %}
        </div>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>